<script lang="ts">
import Download from './icons/Download.svelte';
import AltDownload from './icons/AltDownload.svelte';
import Terminal from './icons/Terminal.svelte';

let downloadIsPressed = false;
</script>

<div class="flex justify-center items-center flex-col text-center bg-[#2a2b3c]">
	<img src="tileos.svg" alt="" height="216px" width="216px">
	<h1 class="text-3xl font-bold">Tile OS</h1>
	<p>Debian-based distribution with tiling window managers.</p>

	<div class="flex flex-row flex-wrap m-7 justify-center">
		<div class="relative inline-block text-left">
			<div>
				<button class="border-2 p-2.5 mx-5 my-3 rounded-md bg-[#6993e9]" on:click={() => {downloadIsPressed = !downloadIsPressed; console.log(downloadIsPressed)}}><Download className="mr-1.5"></Download> Download</button>
			</div>
			<div class="absolute left-0 mx-5 my-3 w-56 rounded-md bg-[#6993e9] {downloadIsPressed ? '' : 'hidden'}">
				<div class="py-1">
					<a href="#" class="block px-4 py-2 text-sm">Sway</a>
					<a href="#" class="block px-4 py-2 text-sm">River</a>
					<a href="#" class="block px-4 py-2 text-sm">Hyprland</a>
				</div>
			</div>
		</div>
		<a class="border-2 p-2.5 mx-5 my-3 rounded-md bg-[#8f96ee]" href="http://localhost:8080"><AltDownload className="mr-1.5"></AltDownload> Alternative Downloads</a>
		<a class="border-2 p-2.5 mx-5 my-3 rounded-md bg-[#73b4d1]" href="http://localhost:8080"><Terminal className="mr-1.5"></Terminal> Source Code</a>
	</div>
</div>

<div>
	<div class="flex flex-col lg:flex-row p-8">
		<div class="flex-1 m-5">
			<h1 class="font-bold text-3xl mb-3">TileOS Sway</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate incidunt iste minima pariatur repellendus. Architecto atque culpa esse illum inventore laboriosam nihil provident quaerat quasi sequi! Amet assumenda culpa, doloremque eligendi hic id laborum, magni, obcaecati perspiciatis possimus quasi repudiandae sapiente vel! Dolorem libero neque quam quasi sit, voluptatum!</p>
			<div class="flex my-10">
				<a class="border-2 p-2.5 rounded-md bg-[#6993e9]" href="http://localhost:8080"><Download className="mr-1.5"></Download> Download TileOS Sway</a>
			</div>
		</div>
		<div class="flex-1 m-5">
			<img src="sway.png" alt="">
		</div>
	</div>
</div>
